.ourVisionWrapper,
.ourMissionWrapper {
  .ourVision,
  .ourMission {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 70px 0;
    gap: 20px;
    :global {
      .ant-col {
        width: calc(50% - 10px);
      }
    }
  }
  .ourVisionImg {
    max-width: 47%;
    img {
      border-top-right-radius: 60px;
      border-bottom-left-radius: 60px;
      width: 100%;
      object-fit: cover;
    }
  }
  .ourMissionImg {
    max-width: 47%;
    img {
      border-top-left-radius: 60px;
      border-bottom-right-radius: 60px;
      width: 100%;
      object-fit: cover;
    }
  }
  .ourVisionContent,
  .ourMissionContent {
    max-width: 47%;
  }
  h3 {
    color: #ed1b2f;
    font-size: 32px;
    font-weight: 600;
  }
}
.ourValueWrapper {
  background-color: #f3f7fc;
  display: flex;
  justify-content: center;
  :global {
    .ant-timeline-item-head,
    .ant-timeline-item-tail {
      color: rgb(28, 45, 90);
      background-color: rgb(28, 45, 90);
      border-color: rgb(28, 45, 90);
      outline: rgb(28, 45, 90);
      font-size: 12px;
    }
    .timeline-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      .ant-timeline {
        width: 90%;
      }
    }
  }
  .ourValue {
    display: flex;
    flex-direction: column;
    padding: 70px 20px;
    margin: auto;
    max-width: 1140px;
    width: 100%;
  }
  h3 {
    color: #ed1b2f;
    font-size: 32px;
    font-weight: 600;
  }
  .box {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 33.6px;
    background-color: #ffffff;

    h4 {
      background-color: rgb(28, 45, 90);
      height: 40px;
      color: #ffffff;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
    p {
      padding: 25px;
      line-height: 27px;
      color: #1c2d5a;
      font-size: 16px;
      display: flex;
      justify-content: center;
      text-align: center;
      opacity: 0.8;
    }
  }
}
.ourVisionWrapper {
  background-color: #f3f7fc;
}
.statisticalWrap {
  background-image: radial-gradient(at center center, #17a55c 0%, #6f24b5 100%);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  :global {
    .statistical {
      display: flex;
      justify-content: space-around;
      margin: auto;
      padding: 100px 0 100px 0;
      gap: 100px;
      flex-wrap: wrap;
      .title {
        font-weight: 700;
        font-size: 22px;
      }
      .ant-statistic-content-value-int {
        color: #ffffff;
        font-size: 69px;
        line-height: 69px;
        font-weight: 600;
      }
      span {
        display: flex;
        align-items: center;
        font-size: 69px;
        line-height: 69px;
        font-weight: 600;
      }
    }
  }
}
.title_static {
  color: #ffffff;
  font-size: 30px;
  line-height: 69px;
  font-weight: 600;
  text-align: center;
}
.teamMembersWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 70px;
  :global {
    .team-members {
      max-width: 1140px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .divider {
      border-top: solid 2.4px rgb(237, 27, 47);
      width: 100px;
      margin: 20px 0;
    }
    .team-members {
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      color: rgb(28, 45, 90);
    }
    .des {
      color: rgb(28, 45, 90);
      font-weight: 700;
      font-size: 34px;
      line-height: 47.6px;
    }
  }
}

@media (max-width: 992px) {
  .ourVision {
    flex-direction: column-reverse !important;
    padding: 70px 20px !important;
    :global {
      .ant-col {
        width: 100% !important;
        max-width: 100% !important;
      }
    }
  }
  .ourMission {
    flex-direction: column !important;
    padding: 70px 20px !important;
    :global {
      .ant-col {
        width: 100% !important;
        max-width: 100% !important;
      }
    }
  }
}
