.menuNav {
  :global {
    .icon-menu,
    .button-menu {
      display: flex;

      .ant-menu-title-content {
        display: flex;
        align-items: center;
      }
    }

    .icon-menu,
    .icon-menu:hover {
      background-color: transparent !important;
    }
    @media screen and (min-width: 1005px) {
      .ant-menu-overflow-item {
        position: relative !important;
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .menuNav {
    :global {
      .icon-menu {
        padding-left: 0 !important;
        padding-bottom: 5px;
      }
    }
  }
}
