$blue: #1c2d5a;
$light-blue: rgb(243, 246, 255);

.box-news{
    background-color: rgb(219, 217, 217);
    color: $blue;
    padding: 5px;
    text-align: center;
    width: 13%;
    margin: 1em 0em;
}

.title{
    color: $blue;
    font-size: 2.5em;
    font-weight: bold;
}

.demo-content-news {
    margin-top: 1em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
  }

  .btn-readmore {
    border-radius: 15px;
    padding: 0.2em 2em;
    background-color: $blue;
    color: white;
    transition: color 0.5s;
    margin-top: 1em;
}

.btn-readmore:hover {
    color: red;
}

.bg-blue-2{
    background-color: $light-blue;
}

.pointer{
    cursor: pointer;
}