.banner {
  width: '100%';
  margin: 0px;
  padding: 0px;
  background-color: black;
  img {
    height: 700px;
    width: 100%;
    object-fit: cover;
  }
  .overlay_text {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px; /* Increased font size */
    font-weight: 700; /* Bolder text */
    text-align: left; /* Center align the text */
    padding: 10px;
    border-radius: 8px; /* Optional: Add rounded corners */
    max-width: 80%; /* Adjust the maximum width of the text block as needed */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Center align items horizontally */
    gap: 10px; /* Space between text blocks */
  }
  
  .carousel_image{
    display: block;
    opacity: 70%;
  }
  .carousel_item{
    position: relative;
    width: 100%;
    height: auto;
  }
  .text_block{
    font-size: 30px; /* Increased font size */
    font-weight: 700;
    text-align: left;
    width: 100%;
  }
  .button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: darkred;
  }
}
