
.dtComptReporttextitem {
    display: flex;
    color: #333333;
    margin-bottom: $s4;

    .greyedOutLabel {
        color: #aaaaaa !important;
        background-color: #eaeff4;
    }

    .greyedOutText {
        color: #aaaaaa !important;
    }

    :global {
        .dt-compt-reporttextitem-label {
            background: #eaeff4;
            padding: 7px 8px;
            font-weight: 600;
            line-height: 19px;
            border-radius: 4px;
            width: 9.375rem;
            font-size: 0.875rem;
            color: $text-default;
        }

        .dt-compt-reporttextitem-text {
            flex: 1;
            padding: 7px 8px;
            word-break: break-word;
            line-height: $s20;
            font-size: 0.875rem;
            padding-right: $s24;
            color: #333333;
        }
    }
}

@include media-breakpoint-down(md) {
    .dtComptReporttextitem {
        :global {
            .dt-compt-reporttextitem-label {
                width: 9.375rem;
            }
        }
    }
}

@include media-breakpoint-between(md, lg) {
    .dtComptReporttextitem {
        :global {
            .dt-compt-reporttextitem-label {
                width: 7.5rem;
            }
        }
    }
}

@include media-breakpoint-up(xxl) {
    .dtComptReporttextitem {
        :global {
            .dt-compt-reporttextitem-label {
                width: 256px;
            }
        }
    }
}