.viewImage {
    min-width: 715px;

    :global {
        .view-image-main {
            min-height: 0;
            display: flex;
        }

        .view-image-item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: calc(100vh - 196px);
            max-height: 670px;

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }

            .view-image-skeleton {
                flex: 1;
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                .ant-skeleton-image {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .view-image-footer {
            display: flex;
            min-height: 0;
            justify-content: space-between;
            align-items: center;
            width: 320px;
            margin: $s16 auto 0;
        }
    }
}

@include media-breakpoint-down(sm) {
    .viewImage {
        min-width: 0px;

        :global {
            .view-image-item {
                height: 70vh;
                max-height: 25rem;
            }

            .view-image-footer {
                width: 294px;
            }
        }
    }
}