$blue: #1c2d5a;
$orange: #faae00;

.header {
  font-size: 2rem;
  font-weight: bolder;
  color: $blue;
}

.header-sec {
  font-size: 1.6rem;
  font-weight: bolder;
  color: $blue;
}

.short-border {
  width: 13%;
  border-bottom: solid red 3px;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.divText {
  display: flex;
  margin-bottom: 0.75em;
  font-size: 1.1rem;
  color: rgb(107, 97, 97);

  .icon {
    width: 5%;
    color: $blue;
  }

  .content {
    width: 95%;

    .title-blue {
      color: $blue;
      font-weight: bolder;
    }
  }
}

.box {
  width: 90%;
  padding: 2rem 5rem !important;
  border-radius: 15px;
  border: solid 1px black;
  font-size: 17px;
}

.box-sd {
  border-radius: 15px;
  font-size: 17px;
  -webkit-box-shadow: -2px -1px 15px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: -2px -1px 15px 0px rgba(0, 0, 0, 0.45);
  box-shadow: -2px -1px 15px 0px rgba(0, 0, 0, 0.45);
  padding: 2rem;
}

.bg-blue {
  margin-top: 5em;
//   background-color: #f3f7fc;
  padding-bottom: 2.5em;
  padding-top: 5px;
  margin-bottom: 7em;
}

.touchBtn{
  border-radius: 15px !important;
  color: white;
  padding: 0.5em 2rem;
  background-color: $blue;
}

.touchBtn:hover{
  background-color: rgb(214, 47, 47);
}

.blue-text{
    color: $blue;
    font-weight: bolder;
}

.bd-dot{
    border-bottom: gray dashed 1px;
}