$blue: #1c2d5a;
$orange: #faae00;

.down-content {
  margin-bottom: 15rem;
}

.bd-bottom {
  border-bottom: solid 3px rgb(99, 97, 97);
}

.icon-sq {
  background-color: #005bac;
  height: 4em;
  width: 4em;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  .center-img {
    transition: transform 0.8s;
    max-width: 100%;
    max-height: 100%;
  }
}

.c-anim {
  position: relative;
  transition:
    transform 0.8s,
    bottom 0.8s,;
    height: 32em;
    margin-bottom: 2em;
}

.c-anim:hover {
  animation: MoveUpDown 0.8s forwards;
  background-color: linear-gradient(180deg, $orange 12%, $blue 100%) !important;
  color: white;

  .icon-sq {
    background: linear-gradient(65deg, #e30008 0%, #faae00 100%);
  }

  img {
    transform: rotateY(360deg);
  }

  .bd-bottom {
    border-bottom: solid 3px white;
  }
}

@keyframes MoveUpDown {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 1rem;
  }
}

.c-anim:not(:hover) {
  animation: MoveDown 0.8s forwards;
}

@keyframes MoveDown {
  0% {
    bottom: 1rem;
  }
  100% {
    bottom: 0;
  }
}

.anim-right {
  // position: relative;
  transition:
    transform 0.8s,
    left 0.8s;
  display: inline-block;
  position: absolute;
  bottom: 20px; 
  margin-left: 20px;
}

@media (max-width: 1100px) {
  .c-anim {
    height: 35rem;
  }

  .c-name {
    height: 110px;
  }

  .c-desc {
    margin-top: 1em !important;
  }

}

@media (max-width: 1000px) {
  .bd-bottom {
    border-bottom: solid 3px rgb(99, 97, 97);
  }

  .c-name {
    height: 50px;
  }

  .c-anim {
    padding-bottom: 5em;
  }

  .anim-right {
    left: 50px;
  }

  .card.c-anim {
    height: 400px;
  }
}

@media (max-width: 800px) {
  .c-name {
    height: 90px;
  }
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5; /* Điều chỉnh dòng cao */
  max-height: 3em; /* Tương đương với 2 dòng */
}

@media (max-width: 700px) {
  .bd-bottom {
    border-bottom: solid 3px rgb(99, 97, 97);
  }

  .c-name {
    height: 90px;
  }

  .c-anim {
    padding-bottom: 5em;
    height: 500px;
  }

  .c-desc {
    height: 100px;
    // background-color: #e30008;
  }

  .anim-right {
    left: 50px;
  }

}

@media (max-width: 900px) {
  .c-content {
    height: 10px !important;
    // background-color: #005bac;
  }
}


.anim-right:hover {
  animation: MoveRight 0.8s forwards;

  span {
    color: #005bac;
  }
}

@keyframes MoveRight {
  0% {
    left: 0;
  }
  100% {
    left: 1rem;
  }
}

div#c-content {
  height: 35em;
}

.anim-right:not(:hover) {
  animation: MoveLeft 0.8s forwards;
}

@keyframes MoveLeft {
  0% {
    left: 1rem;
  }
  100% {
    left: 0;
  }
}

.bd-short {
  width: 20%;
  border-bottom: red solid 3px;
  margin-top: 1rem;
}

.bg-img {
  height: 100%;
  padding: 5% 0%;
  // background-color: #e30008;
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/853/812/original/blue-world-map-complete-with-all-countries-and-capital-cities-names-vector.jpg');
}

.formDiv {
  width: 60%;
  background-color: white;
  border-radius: 20px;
  border: solid rgba(0, 0, 0, 0.289) 1px;

  .Quote{
    color: $blue;
    font-weight: bolder;
  }

  .ip-bd{
    height: 3rem;
    border: $blue solid 1px;
    background-color: whitesmoke;
  }

  .btnBG{
    background-color: $blue;
    margin: 1rem 0rem 3rem 0rem;
  }

  .btnBG:hover{
    background-color: #e30008;
  }
}

.header {
  font-size: 2rem;
  font-weight: bolder;
  color: $blue;
}

.header-sec {
  font-size: 1.5rem;
  font-weight: bolder;
  color: $blue;
}

.text-red{
  font-weight: bolder;
}