.headerWrapper {
  background-color: rgb(28, 45, 90);
  width: 100%;

  .header {
    max-width: 1240px;
    height: 100px;
    display: flex;
    align-items: center;
    margin: auto;
    padding-inline: 20px;
    justify-content: space-between;
    .subheader {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: rgb(28, 45, 90) !important;
      color: #ffffff;
      gap: 20px;
      margin-top: 29px;
      button {
        width: 30px;
        height: 30px;
        font-size: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        color: #ffffff;
        &:hover {
          color: #69b023 !important;
        }
      }
    }
    .headerBtn {
      margin-left: 26px;
      display: flex;
      align-items: center;
      gap: 15px;
    }
    .iconWraper {
      border: 1px solid #1eae98;
      border-radius: 50px;
      padding: 4px;
      animation: ripple 3s infinite;
      box-shadow: 0 0 0 0 rgba(255, 103, 49, 0.1);
      transition: all 0.5s ease-out;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 50px;
        background: #e30008;
        background: linear-gradient(45deg, #ed1b2f 0%, #1c2d5a 100%);
      }
    }
    .contentWrapper {
      display: flex !important;
      flex-direction: column;
      span {
        display: inline-block;
        width: 100%;
        color: #5e6f92;
        line-height: 27px;
        font-weight: 400;
        font-size: 15px;
      }
      a {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: #393d48 !important;
        line-height: 22px;
      }
    }
  }
}

.contentCard {
  width: 100%;
  min-height: 30vh;

  :global {
    .dt-layout-800 {
      width: 100%;
    }
  }
}

.masterLayout {
  background: #fff;
  min-height: 100%;
}

.masterSider {
  display: block;
  z-index: 2;
}

.siteLayoutAffix {
  z-index: 1005;
  :global {
    .ant-menu-light {
      background-color: #fff;
      line-height: 70px;
      margin: 0 auto;
      overflow: hidden;
      justify-content: flex-end;
    }
    .ant-menu-overflow-item-rest {
      padding: 0;
      margin: 0;
    }
    .ant-menu-light.ant-menu-horizontal > .ant-menu-item:hover,
    .ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected:hover,
    .ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected {
      &::after {
        border-bottom-width: 0px;
        border-bottom-color: transparent;
      }
    }

    .ant-menu-title-content {
      color: var(--ast-global-color-0);
    }

    .ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected {
      color: transparent;
    }

    .ant-menu-light.ant-menu-horizontal > .ant-menu-submenu-active,
    .ant-menu-light.ant-menu-horizontal > .ant-menu-submenu-open,
    .ant-menu-light.ant-menu-horizontal > .ant-menu-submenu:hover,
    .ant-menu-light.ant-menu-horizontal > .ant-menu-submenu-selected:hover,
    .ant-menu-light.ant-menu-horizontal > .ant-menu-submenu-selected {
      &::after {
        border-bottom-color: transparent;
      }
    }

    .ant-menu-item,
    .ant-menu-submenu {
      &:hover {
        .ant-menu-title-content {
          color: #69b023;
        }
      }
    }
    .ant-menu-item-selected,
    .ant-menu-submenu-selected {
      .ant-menu-title-content {
        color: #69b023;
      }
    }
    .button-mobile {
      display: none !important;
    }
    .ant-menu-overflow {
      background: rgb(28, 45, 90);
      display: block;
    }
    .ant-menu-title-content {
      color: #fff;
    }

    @media screen and (max-width: 1000px) {
      .button-mobile {
        display: block !important;
      }
      .ant-menu-overflow {
        display: none;
      }
      .ant-menu-overflow-item {
        position: relative !important;
      }
    }
  }
}
