.showMore {
    background-color: #f2f7fb;
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;

    &:hover {
        background-color: #f8fbfe;
    }

    &:active {
        background-color: #eaeff4;
    }
}

.showMorePopOverRoot {
    max-width: 400px;

    @include media-breakpoint-down(md) {
        max-width: 100%;
    }
}