.sustainability {
  :global {
    .ant-divider {
      margin: 0;
      border-top: solid 2px rgb(16, 18, 24);
      width: 100px;
    }
    .header {
      display: flex;
      flex-direction: row;
      padding: 25px 0;
      justify-content: space-around;
      background-color: #f3f7fc;
      h3 {
        color: rgb(28, 45, 90);
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
      }
    }
    .guessing-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .guessing {
        max-width: 1140px;
width: 100%;
        background-color: #c7cdda;
        .ant-divider {
          margin: 0;
          border-top: solid 2.4px rgb(237, 27, 47);
          width: 100px;
        }
        h3 {
          padding: 70px;
          text-align: center;
          color: rgb(28, 45, 90);
          font-size: 24px;
          line-height: 33px;
          font-weight: 700;
        }
      }
    }
  }
}
.environmentWrapper,
.socialGovernanceWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  .environment,
  .socialGovernance {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1140px;
width: 100%;
    padding: 70px 0;
    .subenvironment,
    .subSocialGovernance {
      display: flex;
      justify-content: center;
      gap: 20px;
      max-width: 1140px;
width: 100%;
    }
    :global {
      .ant-col {
        max-width: 47%;
      }
      h2 {
        color: #1c2d5a;
        font-size: 32px;
        font-weight: 700;
      }
      a {
        color: #1c2d5a;
        font-size: 20px;
        font-weight: 700;
      }
      .link {
        text-align: center;
        transition: ease-in-out all 0.3s;
        width: 235px;
        &:hover,
        &:focus {
          color: rgb(237, 27, 47);
          font-size: 18px;
        }
      }
      .divider {
        border-top: solid 2.4px rgb(237, 27, 47);
        width: 100px;
        margin: 20px 0;
      }
    }
  }
}
.socialGovernanceWrapper {
  background-color: #f3f7fc;
}
