/* prettier-ignore */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
main {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    vertical-align: baseline;
    border: 0;
    box-sizing: border-box;
    // fix responsive: Chrome (Font Autosize / Font Bosting)
    max-height: 999999999px;
}

// HTML5 display-role reset for older browsers
/* prettier-ignore */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-size: $font-base;
    font-family: $font-family;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

button {
    font-family: $font-family;
}

a {
    text-decoration: none;
    color: $link-color;
    cursor: pointer;
}

// ol,
// ul {
//     list-style: none;
// }

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body,
#root {
    height: 100%;
}

button {
    color: rgba(0, 0, 0, 0.88);
}

.ck-content{
    min-height: 120px;
    max-height: 300px;
    ul, ol{
        margin-left: 15px;
    }
}

.fullscreen{
    height: 100%;
    .ck-reset, .ck-editor__main, .ck-content{
        width: 100% !important;
        height: calc(100% - 20px) !important;
        max-height: calc(100% - 20px) !important;
    }
}

.viewMode{
    .ck-editor__top{
        display: none;
    }
    .ck-reset, .ck-editor__main, .ck-content{
        border: none !important;
    }
}