.applyCareer {
  background-image: url(https://3alogistics.vn/wp-content/uploads/2023/09/z4671772378263_6bf5c96c8f0060532d1b99e057ba67bb.jpg);
  padding: 100px 20px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  :global {
    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #1c2d5a;
      top: 0;
      left: 0;
      opacity: 0.81;
      transition:
        background 0.3s,
        border-radius 0.3s,
        opacity 0.3s;
    }
    h2 {
      color: rgb(28, 45, 90);
      font-size: 34px;
      font-weight: 700;
    }
    h5 {
      text-transform: capitalize;
      color: #ed1b2f;
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 28px;
    }
    .form-wrap {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .img-div {
        padding: 60px 40px 40px;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .ant-col {
        width: calc(50% - 10px);
      }
      .ant-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .ant-row {
          display: flex;
          gap: 10px;
          .ant-col {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .ant-row {
              gap: 0;
            }
          }
        }
        .ant-form-item-label {
          padding: 0;
          font-size: 18px;
          font-weight: 400;
          opacity: 0.8;
          line-height: 27px;
        }
        .ant-form-item-control {
          width: 100%;
        }
        button {
          width: 173px;
          height: 40px;
          border-radius: 5px;
        }
        .sub-form-item {
          display: flex;
          gap: 10px !important;
          .sub-form-item-col {
            width: calc(50% - 5px);
          }
        }
      }
    }
    .wrapper-form {
      width: 100%;
      max-width: 740px;
      border-radius: 20px;
      border: 1px solid black;
      padding: 45px;
      background-color: #ffffff;
      opacity: 1;
      z-index: 100;
    }
    .divider {
      border-top: solid 2.4px rgb(237, 27, 47);
      width: 100px;
      margin: 20px 0;
    }
  }
}
