.BeOurAgentNetworkWrapper {
  display: flex;
  justify-content: center;
  .BeOurAgentNetwork {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1140px;
    width: 100%;
    padding: 70px 0 100px;
    :global {
      .ant-col {
        max-width: 47%;
      }
      h2 {
        color: #1c2d5a;
        font-size: 32px;
        font-weight: 700;
      }
      a {
        color: #1c2d5a;
        font-size: 20px;
        font-weight: 700;
      }
      .link {
        text-align: center;
        transition: ease-in-out all 0.3s;
        width: 235px;
        &:hover,
        &:focus {
          color: rgb(237, 27, 47);
          font-size: 18px;
        }
      }
      .divider {
        border-top: solid 2.4px rgb(237, 27, 47);
        width: 100px;
        margin: 20px 0;
      }
    }
  }
}
.partnerBenefitsWrapper {
  display: flex;
  justify-content: center;
  background-color: #f3f7fc;
  .partnerBenefits {
    padding: 50px 20px 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1120px;
    :global {
      h2 {
        color: #1c2d5a;
        font-size: 32px;
        font-weight: 700;
      }
      .divider {
        border-top: solid 2.4px rgb(237, 27, 47);
        width: 100px;
        margin: 20px 0;
      }
      .content {
        display: flex;
        gap: 30px;
        justify-content: center;
        .ant-col {
          background-color: #ffffff;
          width: calc(50% - 15px);
          box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.5);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 30px;
          transition:
            background 0.3s,
            border 0.3s,
            border-radius 0.3s,
            box-shadow 0.3s;
          h3 {
            color: rgb(237, 27, 47);
            font-size: 20px;
            line-height: 28px;
            font-weight: 700;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
.applyCareer {
  padding: 100px 20px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  :global {
    h2 {
      color: rgb(28, 45, 90);
      font-size: 20px;
      font-weight: 700;
    }
    .form-wrap {
      display: flex;
      gap: 20px;
      .img-div {
        padding: 60px 40px 40px;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .ant-col {
        width: calc(50% - 10px);
      }
      .ant-form {
        .ant-row {
          display: flex;
          gap: 10px;
          .ant-col {
            width: calc(50% - 5px);
          }
        }
        button {
          border-radius: 0;
          width: auto;
          height: 40px;
          border-radius: 5px;
        }
      }
    }
    .wrapper-form {
      width: 100%;
      max-width: 1140px;
      width: 100%;
      border-radius: 20px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
      padding: 30px;
    }
    .divider {
      border-top: solid 2.4px rgb(237, 27, 47);
      width: 100px;
      margin: 20px 0;
    }
  }
}


@media (max-width: 992px) {
  .BeOurAgentNetwork {
    flex-direction: column-reverse !important;
    padding: 70px 20px !important;
    :global {
      .ant-col {
        width: 100% !important;
        max-width: 100% !important;
      }
    }
  }
  .applyCareer {
    flex-direction: column !important;
    :global {
      .ant-col {
        width: 100% !important;
        max-width: 100% !important;
      }
      .img-div {
        display: none;
      }
    }
  }
}