// Font Family
$font-family: 'FF Neuwelt', 'FF Neuwelt Extra', sans-serif !default;

//font size variables
$size1: 0.0625rem !default;
$font-base: $size1 * 16; // Assumes the browser default, typically `16px`
$f12: $font-base * 0.75 !default;
$f13: $font-base * 0.8125 !default;
$f14: $font-base * 0.875 !default;
$f16: $font-base * 1 !default;
$f18: $font-base * 1.125 !default;
$f20: $font-base * 1.25 !default;
$f24: $font-base * 1.5 !default;
$f28: $font-base * 1.75 !default;
$f32: $font-base * 2 !default;

//font weight variables
$fw300: 300 !default;
$fw400: 400 !default;
$fw600: 600 !default;
$fw700: 700 !default;

//line height variables
$lh1: 1 !default;
$lh125: 1.25 !default;
$lh15: 1.5 !default;
$lh2: 2 !default;

//padding margin variables
$s4: 0.25rem;
$s8: 0.5rem;
$s14: 0.875rem;
$s16: 1rem;
$s20: 1.25rem;
$s24: 1.5rem;
$s32: 2rem;
$s40: 2.5rem;
$s48: 3rem;
$s64: 4rem;
$s72: 4.5rem;

// border-radius-variables
$br: 0.5rem !default;
$br4: 0.25rem !default;
$br8: 0.5rem !default;
$br20: 1.25rem !default;

// resonsive breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 744px,
    lg: 1133px,
    xl: 1280px,
    xxl: 1680px) !default;

// color variables
$red: #df1820 !default;
$information: #0072d0;
$warning: #e5681f;
$error: #d01b1b;
$successful: #02a56f;
$border-disable: #d9d9d9;

//background color-variables
$gray: #e6e7e8 !default;

// font color-variables
$text-primary: #323130 !default;
$link-color: #ffffff !default;
$text-default: #333333;
$text-secondary: #4b5566;
$color-default: #1e72b0;
$color-primary: rgb(28, 45, 90);
$color-sub: #00b8cd;


// border color-variables
$border-color-base: #8d8f94 !default;

:root {
    --ast-global-color-0: #1c2d5a;
    --ast-global-color-1: #ed1b2f;
    --ast-global-color-2: #101218;
    --ast-global-color-3: #494B51;
    --ast-global-color-4: #F3F5F5;
    --ast-global-color-5: #FFFFFF;
    --ast-global-color-6: #000000;
    --ast-global-color-7: #4B4F58;
    --ast-global-color-8: #F6F7F8;
}