.sitefooter {
  background-color: #1c2d5a;
  color: white;
  background-image: url(https://3alogistics.vn/wp-content/uploads/2023/09/footer-img.png);
  position: absolute;
  width: 100%;
  display: flex;
  margin: auto;
  :global {
    .ant-divider-horizontal.ant-divider-with-text {
      margin: 0;
      &::after, &::before {
        border-block-start: 2px solid transparent;
        border-block-start-color: #7a7a7a;
        border-block-end: 0;
      }
    }
  }
  .footerContainer {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 100%;
    max-width: 1140px;
    width: 100%;
    :global {
      .ant-col {
        max-width: 280px;
      }
    }
    .subscribe {
      width: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      background-color: #b3cee6;
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 32px 48px;
      gap: 20px;
      flex-direction: row;
      .email {
        display: flex;
        height: 45px;
        max-width: 40%;
        input {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          height: 45px;
          width: 235px;
        }
        button {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          height: 45px;
          width: 110px;
          background-color: var(--ast-global-color-0);
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 55%;
        h1,
        p,
        h3 {
          color: var(--ast-global-color-0);
          text-align: center;
        }
        h3 {
          font-size: 20px;
          font-weight: 700;
        }
        h1 {
          font-size: 40px;
          font-weight: bolder;
        }
        p {
          font-size: 17px;
        }
      }
    }
    .info {
      display: flex;
      gap: 20px;
      margin-top: 170px;
      margin-bottom: 20px;
      .office {
        display: flex;
        gap: 40px;
        flex-direction: column;
        .title {
          font-size: 24px;
          font-weight: 700;
          line-height: 24px;
          margin-bottom: 20px;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 27px;
        }
      }
      .logoContact {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        gap: 20px;
      }
      :global {
        .anticon {
          svg {
            width: 25px;
            height: 25px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .subscribe {
    width: 90% !important;
    padding: 45px 30px !important;
    .content {
      max-width: 100% !important;
    }
    .email {
      max-width: 100% !important;
    }
    h1 {
      font-size: 28px !important;
    }
  }
}
