$bg: #e4e4e4;
$blue: #1c2d5a;
$redBtn : rgb(236, 37, 37);

.cd-new {
  padding: 0.6em;
  line-height: 1;
  background: $bg;
  margin-bottom: 0.8rem;
  color: $blue;
  // width: 20%;
}

.header-sec-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em; /* Adjust based on your font size */
  max-height: 3em; /* Should be 2 times the line-height */
  font-size: 1.5rem;
  font-weight: bolder;
  color: $blue;
}

.btn-blue{
    background-color: $blue;
    color: white;
    border-radius: 25px;
    padding: 1em 3em;
    font-size: medium;
    font-weight: bolder;
    border: 0px;
}

.btn-blue:hover{
    background-color: $redBtn;
}

.btn-red-2{
    background-color: $blue;
    color: white;
    border-radius: 15px;
    padding: 0.4em 0.5em;
    font-size: small;
    font-weight: bolder;
    border: 0px;
}

.btn-red-2:hover{
    background-color: $redBtn;
}