.dt-border-table.ant-table-wrapper {
    .ant-table-content {
        border: 1px solid #e6e7e8;
        border-radius: 6px;
    }

    .ant-table-tbody>tr {
        &:last-of-type {
            >td {
                border-bottom: 0px;
            }
        }
    }
}

.dt-one-rows,
.dt-two-rows,
.dt-three-rows,
.dt-four-rows {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.dt-one-rows {
    -webkit-line-clamp: 1;
}

.dt-two-rows {
    -webkit-line-clamp: 2;
}

.dt-three-rows {
    -webkit-line-clamp: 3;
}

.dt-four-rows {
    -webkit-line-clamp: 4;
}

.singleLineText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}