
.divButton {
    display: block;
    border: none;
    background-color: inherit;
    padding: 0px;
    margin: 0px;
    text-align: inherit;
    font-size: $f14;
}

.dt-cursor-style {
    cursor: pointer;
}

button.dt-primary-btn {
    transition: 0.3s ease-in-out;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: rgba($color: #000000, $alpha: 0.04);
    }

    &:active {
        background-color: rgba($color: #000000, $alpha: 0.06);
    }
}

button.dt-link-btn {
    transition: 0.3s ease-in-out;
    color: #0c7d8f !important;
    font-weight: normal;

    &:hover {
        text-decoration: underline;

        & * {
            text-decoration: underline;
        }
    }

    &:active,
    &:focus {
        text-decoration: underline;
        color: #006677 !important;
    }

    &:visited {
        color: #0c7d8f !important;
    }
}

.dt-btn-link-effect {
    &.ant-btn-link {
        color: #0c7d8f;

        &:hover * {
            color: #0c7d8f;
            text-decoration: underline;
        }

        &:active * {
            color: #006677;
        }
    }
}
.dt-mr-btn {
    margin-right: 8px;
}

@include media-breakpoint-down(md) {
    .dtRangePickerFilterRangeDate {
        .ant-picker-range-wrapper.ant-picker-date-range-wrapper {
            .ant-picker-panel-container {
                .ant-picker-panel-layout {
                    .ant-picker-panels {
                        display: block;
                        width: 20rem;
                        height: 25rem;
                        overflow: auto;
                    }
                }
            }
        }
    }
}