$blue: #1c2d5a;
  
  .bg-blue {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: lightblue;
  }
  
  .bg-circle {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .icon-white {
    color: white;
    font-size: 5em;
  }

  .btnSend{
    width: 100%;
    background-color: $blue;
    font-size: large;
    color: white;
    border-radius: 5px;
    padding: 0.5em 0em;
    margin-bottom: 2em;
    border: 0px;
  }

  .btnSend:hover{
    background-color: rgb(237, 63, 63);
  }