body {
  margin: 0;
  padding: 0;
}
.admin-main-container {
  width: 100%;
  height: 100vh;

  .admin-main-sidebar {
    line-height: 120px;
    background-color: #fff;
  }

  .admin-main-header {
    height: 64px;
    background-color: #e2e3e4;
    color: black;
  }

  .admin-main-content {
    color: black;
    margin: 20px;
  }
}