$blue: #1c2d5a;
$orange: #faae00;

.box-sd {
  border-radius: 15px;
  font-size: 17px;
  -webkit-box-shadow: -2px -1px 15px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: -2px -1px 15px 0px rgba(0, 0, 0, 0.45);
  box-shadow: -2px -1px 15px 0px rgba(0, 0, 0, 0.45);
  padding: 2rem;
}

.header {
  font-size: 2rem;
  font-weight: bolder;
  color: $blue;
}

.max-w{
  width: 55%;
}

@media (max-width: 768px) {
  .max-w {
    width: 90%; /* Increase the width for mobile screens */
  }
}