.short-bd {
  border-bottom: solid red 3px;
  width: 20%;
  margin-top: 1.5em;
  margin-bottom: 3em;
}

.ch-item.ch-img-1 {
  background-position: center center;
  background-size: cover;
}

.ch-item {
  height: 270px;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  backface-visibility: hidden;
  display: block;
  background-size: cover;
  background-position: center;

  .txt{
    display: none;
  color: rgb(255, 255, 255);
  font-size: 2.5em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-weight: bolder;
  }
}

.elementor-element .elementor-widget-container {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s,
    transform var(--e-transform-transition-duration, 0.4s);
}

.elementor *,
.elementor :after,
.elementor :before {
  box-sizing: border-box;
}

.hover01 {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover01:hover {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.448),
    0 6px 20px 0 rgba(0, 0, 0, 0.49);
    // border: 15px solid rgb(251, 222, 255);
    opacity: 0.7;
    // border: solid 15px white;
    .txt{
        display: block;
    }
}

$redBtn : rgb(236, 37, 37);

.btn-red{
    background-color: $redBtn;
    color: white;
    border-radius: 5px;
    padding: 0.8em 3em;
    font-size: 1.2em;
    font-weight: bolder;
    border: 0px;
    margin-top: 2em;
}

.btn-red:hover{
    background-color: white;
    color: black;
    border: solid 1px $redBtn;
}
.video-section {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #0d1e3a, #a40e47);
  color: white;
}

.video-container {
  position: relative;
  display: inline-block;
  padding-top: 20px;
}

.video-element {
  width: 100%;
  max-width: 600px;
  border-radius: 20px;
  border: 20px #ffffff;
}
.content_statis{
  display: flex;
  flex-direction: column;
  align-items: center;
}