.list {
  display: none;
}
.listopen {
  background-color: #ffffff;
  border-radius: 0;
  display: list-item;

  @media screen and (min-width: 1000px) {
    display: none;
  }
  :global {
    .selected {
      color: #ed1b2f;
    }
    .ant-collapse-header,
    .ant-collapse,
    .ant-collapse-content {
      border-radius: 0 !important;
      background-color: #ffffff;
      border: none;
      padding: 0 !important;
      width: 100%;
    }
    .ant-collapse-content-box {
      padding-bottom: 0 !important;
    }
    .ant-collapse-expand-icon {
      padding: 12px 20px;
    }
    li,
    .ant-collapse-header {
      color: #1c2d5a;
      font-size: 16px;
      font-weight: 600;
      opacity: 1;
      cursor: pointer;
      padding: 12px 26px;
      &:hover {
        > .ant-collapse-header-text {
          color: #ed1b2f;
        }
      }
    }
  }
}
